* {
    box-sizing: border-box;
}
body {
    margin: 0;
    border: 0;
}
.data::after {
    content: " ";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
}
.login_reference {
    text-decoration: none;
    color: rgb(240, 76, 77);
}
.register_reference {
    text-decoration: none;
    color: white;
}
.loader {
    display: block;
    height: 100px;
}
div.header {
    display: block;
    height: 80px;
    margin: 0px 10px;  
    padding: 8px 15px; 
}
.logo {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25%;
    display: inline-block;
    width: 100%;

}
.logo_img {
    height: 60px;
    position: relative;
    display: inline-block;
    float: left;
}
.text {
    float: left;
    position: relative;
}
.logo_un {
    z-index: 4;
    position: relative;
    left: -5px;
    top: -2px;
}
.logo_gineering {
    position: relative;
    left: -11px;
    top: -2px;
}
.tagline {
    position: relative;
    float: left;
    font-size: 8px;
    top: -30px;
    right: -44px;  
}
    
.login_tab {
    border: solid 1px red;
    border-radius: 3px;
    width: 45%;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    margin: 8px 5px 15px 8px;
}
.new_user_tab {
    border: solid 1px rgb(240, 76, 77);
    width: 42%;
    float: left;
    display: inline-block;
    font-size: 18px;
    box-sizing: content-box;
    padding: 5px;
    background-color: #F04C4D;
    margin: 8px 5px 15px 5px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}
.dashboard_tab {
    border: solid 1.5px red;
    border-radius: 3px;
    width: 45%;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    margin: 8px 5px 15px 8px;

}
.logout_tab {
    border: solid 1px red;
    width: 42%;
    float: left;
    display: inline-block;
    font-size: 18px;
    box-sizing: content-box;
    padding: 5px;
    background-color: red;
    margin: 8px 5px 15px 5px;
    text-align: center;
}
.data {
    display: block;
    margin: 0px 10px 10px 10px;
    border: solid 1.5px #DEDAD9;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}
.footer {
    display: block;
    margin: 150px 0px 0px 0px;
    height: 300px;
    background-color: #373737;
}
.a {
    color: #4F4F4F;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 20px;
}
.b {
    color: #5A5A5A;
    font-size: 20px;
    padding-left: 5px;
    text-indent: 2px;
    font-style: italic;
}
.absolute {
    color: #5A5A5A;
    font-size: 18px;
    position: relative;
    float: right;
    top: -5px;
    font-style: italic;
}
.relative {
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 22px;
}
.abso {
    position: relative;
    top: 140px;
    text-align: right;
    font-size: 18px;
    right: 20px;
    float: right;
}
.rel {
    margin: 10px;
    padding: 50px 0px 0px 20px;
    font-size: 20px;
}
.status {
    height: 400px;
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
}
.write {
    font-size: 23px;
    margin: 60px 0px 0px 10px;
}
.input {
    height: 200px;
    background-color: white;
    display: block;
    margin: 2px 10px 10px 10px;
    width: 334px;
}
.submit {
    box-sizing: content-box;
    background-color: red;
    padding: 13px 30px;
    margin: 10px;
    position: relative;
    right: -196px;
    font-size: 25px;
}
