* {
    box-sizing: border-box;
}
body {
    margin: 0;
    border: 0;
}
.data::after {
    content: " ";
    display: block;
    clear: both;
}
.loader {
    display: block;
    height: 100px;
}
div.header {
    display: block;
    height: 80px;
    margin: 0px 10px;  
    padding: 8px 15px; 
}
.logo {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25%;
    display: inline-block;
    width: 100%;

}
.logo_img {
    height: 65px;
    position: relative;
    display: inline-block;
    float: left;
}
.text {
    float: left;
    position: relative;
}
.logo_un {
    z-index: 4;
    position: relative;
    left: -5px;
    top: -2px;
}
.logo_gineering {
    position: relative;
    left: -11px;
    top: -2px;
}
.tagline {
    position: relative;
    float: left;
    font-size: 8px;
    top: -30px;
    right: -50px;
}
    
.dashboard_tab {
    border: solid 1.5px red;
    border-radius: 3px;
    width: 45%;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    margin: 8px 5px 15px 8px;

}
.logout_tab {
    border: solid 1px red;
    width: 42%;
    float: left;
    display: inline-block;
    font-size: 18px;
    box-sizing: content-box;
    padding: 5px;
    background-color: red;
    margin: 8px 5px 15px 5px;
    text-align: center;
}
.data {
    display: block;
    margin: 10px;
    border: solid 1px #676767;
    border-radius: 10px;
    height: 435px;
    padding: 10px 20px 10px 20px;
}
.footer {
    display: block;
    margin: 150px 0px 0px 0px;
    height: 300px;
    background-color: #444444;
}
.a {
    color: #444443;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 21px;
}
.b {
    color: #676767;
    font-size: 20.5px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.absolute {
    color: #676767;
    font-size: 19px;
    position: relative;
    float: right;
    font-style: italic;
}
.abso {
    position: relative;
    top: 140px;
    text-align: right;
    font-size: 18px;
    right: 20px;
    float: right;
}
.rel {
    margin: 10px;
    padding: 50px 0px 0px 20px;
    font-size: 20px;
}
.status {
    height: 400px;
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
}
.write {
    font-size: 23px;
    margin: 60px 0px 0px 10px;
}
.input {
    height: 200px;
    background-color: white;
    display: block;
    margin: 2px 10px 10px 10px;
    width: 334px;
}
.submit {
    box-sizing: content-box;
    background-color: red;
    padding: 13px 45px;
    margin: 10px;
    position: relative;
    bottom: -10px;
    right: -196px;
    font-size: 25px;
}
