body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

.row{
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    box-sizing:border-box;
}

.width{
    margin:0px 5px 0px 5px;
    color:#373737;
}

.loader {
    display: block;
    height: 100px;
}
div.header {
    display: block;
    margin: 0px 0px 10px 0px;   
}
.logo {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 13.89%;
    display: inline-block;

}
.logo_img {
    height: 55px;
    position: relative;
    display: inline-block;
    float: left;
}
.text {
    font-size:15px;
    float: left;
    position: relative;
}
.logo_un {
    z-index: 4;
    position: relative;
    left: -5px;
    top: -11px;
}
.logo_gineering {
    position: relative;
    left: -11px;
    top: -11px;
}
.tagline {
    position: relative;
    top: -30px;
    left: 43px;
}

.row2 >.c1{
    width:50%;
    padding:0px 20px 0px 20px;
    text-align:left;
    background-color:white;
    font-size:17px;
    font-weight:bold;
}

.row2 >.c2{
    width:50%;
    padding:18px 20px 0px 20px;
    text-align:right;
    background-color:white;
    font-size:17px;
    font-weight:bold;
}

.row2>.col>p{
    text-decoration: underline;
}

.row2 >.col>a{
    color:#EB453D;
}

.first{
    
    border: solid 1px #E6E6E6;
}

.second{
    background-color:#f7f7f7;
    padding:0px 20px 0px 20px;
    border:solid 1px #E6E6E6;
    font-size:13px;
    
}
    
.row3{
    font-size:20px;
    padding:30px 0px 30px 0px;
    font-family:sans-serif;
    font-weight:bold;
}

.row4{
    padding:0px 0px 10px 0px;
    font-weight:bold;
}

.row5{
    padding:5px 0px 20px 0px;
    font-weight:bold;
}

.row6{
    border:solid 1px red;
    border-radius:3px; 
    font-weight:bold;
    background-color:red;
}
.submit_button{
    width:100%;
    text-decoration:none;
    display:inline-block;
    line-height:3;
    text-align:center;
    color:#fefefe;
    background-color:red;
    font-size:15px;
}

.row7{
    color:red;
    padding:15px 0px 150px 0px;
}

.row7>a{
    color:red;
}

input[type=text],input[type=password]{
    border:solid 1px red;
    height:40px; 
    width:100%;
    border-radius:5px; 
}

.footer{
    padding:35px 25px 0px 25px;
    background-color:#373737;
    font-size:13px;
}
.row8{
    color:white;
    background-color:#373737;
}    

.row9{
    color:white;
    background-color:#373737;
}    

.row9>.c1{
    width:30px;
}

.row9>.c2{
    width:30px;
}

.image{
    width:100%;
}

.row10{
    color:white;
    padding:60px 0px 0px 0px;
    background-color:#373737;
    text-align:right;
}    

.row11{
    padding:0px 0px 40px 0px;
    color:white;
    background-color:#373737;
    text-align:right;
}    
